#ENVIRONMENT
ELY_RUNTIME='node'
NODE_ENV=homologation

# DATABASE
DATABASE_URL=postgresql://docker:docker@localhost:5432/pizzashop

# AUTHENTICATION FOR USER
JWT_SECRET=key

# URLS
API_BASE_URL=http://localhost:3333
AUTH_REDIRECT_URL=http://localhost:5173

# KEY FOR EMAIL SENDING
RESEND_API_KEY=fake-key-for-local-testing